
<% title "Sign In" %>

<% unless @authentications.empty? %>
    <p><strong>You have signed into this account using:</strong></p>
    <div class="authentications"> <!-- outer div -->
      <% for authentication in @authentications %>
        <div class="authentication"> <!-- inner -->
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider.titleize %></div>
          <div class="uid"><%= authentication.uid %></div>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>  <!-- end outer div -->
<% end %>
<% unless @providers_noauth.empty? %>
  <p><strong>Register a new service:</strong></p>
	<%- @providers_noauth.each do |prov| %>
	   <%= link_to image_tag("/images/#{prov}_64.png", :size => "64x64", :alt => prov), user_omniauth_authorize_path(prov.to_sym), :class => "auth_provider" %>
	<% end -%>
<% end %>
<div class="clear"></div>
<br/>
<%= link_to "Back", :back %>

