
<% title "Sign In" %>

<% if @authentications %>
  <% unless @authentications.empty? %>
    <p><strong>You can sign in to this account using:</strong></p>
    <div class="authentications"> <!-- outer div -->
      <% for authentication in @authentications %>
        <div class="authentication"> <!-- inner -->
          <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>
          <div class="provider"><%= authentication.provider.titleize %></div>
          <div class="uid"><%= authentication.uid %></div>
        </div>
      <% end %>
      <div class="clear"></div>
    </div>  <!-- end outer div -->
  <% end %>
  <p><strong>Add another service to sign in with:</strong></p>
<% else %>
  <div>
  <p><strong>Sign in through one of these services:</strong></p>
<% end %>

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "/images/twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "/images/facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
<!-- <a href="/auth/google_apps" class="auth_provider">
  <%= image_tag "/images/google_64.png", :size => "64x64", :alt => "Google" %>
  Google
</a>
<a href="/auth/open_id" class="auth_provider">
  <%= image_tag "/images/openid_64.png", :size => "64x64", :alt => "OpenID" %>
  OpenID
</a> -->
<div class="clear"></div>

