<div class="box">

<%= form_for(@day) do |f| %>
  <% if @day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day.errors.count, "error") %> prohibited this day from being saved:</h2>

      <ul>
      <% @day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   
		
   <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, :size => 50 %>
  </div>
   <div class="field">
    <%= f.hidden_field :latitude, :size => 50 %>
  </div>
   <div class="field">
    <%= f.hidden_field :longitude, :size => 50 %>
  </div>
   <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => 60 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 60, :rows => 10 %>
  </div>
  
  <div class="checkbox">
    <%= check_box_tag "post_to_fb", 1, true %> 
	<%= f.label 'Post a link to my new day on my Facebook Wall' %><br />	 
  </div>
  </br>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
