<% content_for(:scripts) do %>
	<script type="text/javascript" charset="utf-8">
		$(function()
		{add_marker(<%=@day.latitude%>, <%=@day.longitude%>, '<%=escape_javascript(@day.title)%>')
		center_and_bound_map()});
	</script>
<% end %>


<h3><%= @day.title %></h3>
<h5>created by <%= @day.user.name rescue 'unknown user'%>
<div class="rating">
	Average Rating:&nbsp; <%= @day.average_rating %>/5<br/>
</div>
</h5>

<p>
  <%= auto_link(@day.description) %>
</p>

<div class="comment">
	<h2>Comments</h2>
	<%= render :partial => "comments/comment",
	           :collection => @day.comments %>

<%- if current_user %>
	<%= render "comments/form" %>
<% end %>
</div>


<br/>
<%- if current_user %>
	<%- if @day.user == current_user %>
		<%= link_to 'Edit Your Day', edit_day_path(@day) %><br/>
	   <%= link_to 'Delete Your Day', @day, :confirm => 'Are you sure?', :method => :delete %>
	<% else %>
		Your Rating:<br/>
		<%= render 'rating' %>
	<% end %>
<% else %>
 <p>You must <%= link_to('log in', new_user_session_path) %> to comment on and rate days.</p>

<% end %>

<br/><br/>
<%= link_to 'Back', days_path %>



