#the imbedded javascript needs moved when I figure out how to do it with parameters
<% content_for(:scripts) do %>
	<script type="text/javascript" charset="utf-8">
		$(function()
		{add_marker(<%=@day.latitude%>, <%=@day.longitude%>, '<%=escape_javascript(@day.title)%>')
		center_and_bound_map()});
	</script>
<% end %>


<p>
  <b>Title:</b>
  <%= @day.title %>
</p>

<p>
  <b>Description:</b>
  <%= auto_link(@day.description) %>
</p>

<div class="rating">
	Average Rating:&nbsp; <%= @day.average_rating %><br/>
<br/>
<%- if @day.user == current_user %>
	<%= link_to 'Edit Your Day', edit_day_path(@day) %><br/>
   <%= link_to 'Delete Your Day', @day, :confirm => 'Are you sure?', :method => :delete %>
<% else %>
Your Rating:<br/>

<%- if current_user %>	
 <%= render 'rating' %>
<% end %>
<% end %>
</div>
<br/><br/>
<%= link_to 'Back', days_path %>



