<% content_for(:scripts) do %>
	<script type="text/javascript" charset="utf-8">
		$(function()
		{add_marker(<%=@day.latitude%>, <%=@day.longitude%>, '<%=escape_javascript(@day.title)%>')
		center_and_bound_map()});
	</script>
<% end %>

<% content_for(:head) do %>
<meta property="og:title" content= "<%=escape_javascript(@day.title)%>"/> 
<meta property="og:type" content= "article" /> 
<meta property="og:site_name" content= "daymaven.com"/> 
<meta property="og:image" content = "images/daymaven415.png" />
<meta property="og:url" content = "<%=url_for(@day)%>"/>
<meta property="fb:admins" content = "1067603571" />


<% end %>


<h3><%= @day.title %></h3>
<%= render 'average_rating', :day => @day %>
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="" show_faces="false" width="250" font=""></fb:like>
	
<h5>created by <%= @day.user.name rescue 'unknown user'%>
	
	


</br>

</br>

</h5>

<p>
  <%= auto_link(@day.description.gsub(/\n/, '<br/>')) %>
</p>

<% if current_user && current_user != @day.user %>
		Your Rating:
		<%= render 'rating' %><br/>
<% end %>

<div class="comment">
	<h2>Comments</h2>
	<%= render :partial => "comments/comment",
	           :collection => @day.comments %>

<%- if current_user %>
	<%= render "comments/form" %>
<% end %>
</div>


<br/>
<%- if current_user %>
	<%- if @day.user == current_user %>
		<%= link_to 'Edit Your Day', edit_day_path(@day) %><br/>
	   <%= link_to 'Delete Your Day', @day, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
<% else %>
 <p>You must <%= link_to('log in', new_user_session_path) %> to comment on and rate days.</p>

<% end %>

<br/><br/>
<% #= link_to 'Back', days_path %>



