<p>
  <b>Title:</b>
  <%= @day.title %>
</p>

<p>
  <b>Description:</b>
  <%= auto_link(@day.description) %>
</p>

<div class="rating">
	Average Rating:&nbsp; <%= @day.average_rating %><br/>
	Your Rating:<br/>

	<%- if current_user %>	
	 <%= render 'rating' %>
	<% end %>
</div>
<br/><br/>
<%= link_to 'Back', days_path %>



