<!DOCTYPE html>
<html>
<head>
  <title>DayMaven</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
	<%= link_to image_tag("/images/daymaven_logo.jpg", :border =>0), root_url %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
