<!DOCTYPE html>
<html>
<head>
	<title>DayMaven</title>
	<%= javascript_include_tag :cdn, :defaults %>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag :gmaps, "geokit" %>
	<%= yield :scripts %>
	<%= csrf_meta_tag %>
</head>

<body>

<div id = "loginbar">
	<div id="smalltabs">
		<ul>
			<li><%= link_to 'Home', days_path %></li>
			<li><%= link_to 'New Day', new_day_path %></li>
		</ul>
	</div>
		
<%= render 'users/login_items' %>	
</div>


<div id = "container">
	<div id="header">
	
			<%= link_to image_tag("/images/daymaven415.png", :border =>0, :id => 'logo'), days_path %>
 
	
			
		<div id="searchbar">	
			<%= form_tag days_path, :method => 'get' do %>
			
			<%= label_tag :city, "Filter by City" %>
			<%= text_field_tag :city, params[:city], :id=>"city" %>
			
			<%= label_tag :searchtext, "  Keywords" %> 
			<%= text_field_tag :search, params[:search], :id=>"searchtext" %>

			
			
			<%= submit_tag "Search", :id=>"searchgo" %>
			<% end %>
		</div>
  
	</div>
	
	<div id="wrapper">
		<div id="content">
			<p class="notice"><%= notice %></p>		
			<p class="alert"><%= alert %></p>
			<%= yield %>	
		</div>

		<div id="map"> </div>

		<div id="footer">
			<iframe src="http://www.facebook.com/plugins/like.php?href=www.daymaven.com" scrolling="no" frameborder="0" style="border:none; width:450px; height:80px"></iframe>
		</div>
	</div>
</div>
</body>
</html>

