<!DOCTYPE html>
<html>
<head>
	<title>DayMaven - Things to do in Bellingham, WA</title>
	<meta name="description" content="Daymaven is the place to find and share great local experiences, activities, and itineraries in Bellingham, WA and beyond.">
	<meta name="keywords" content = "things to do in bellingham, bellingham activities, trip itineraries, what to do in bellingham">
	
	<%= javascript_include_tag :cdn, :defaults %>
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag :gmaps, "geokit" %>	<%= yield :scripts %>
	<%= yield :scripts %>
	<%= yield :head %>
	<%= csrf_meta_tag %>
		
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-22967261-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	
	<meta property="og:type" content= "article" /> 
	<meta property="og:site_name" content= "daymaven.com"/> 
	<meta property="og:title" content= "DayMaven - Things to do in Bellingham, WA"/>
	<meta property="og:image" content = "http://www.daymaven.com/images/daymavensmall.gif" />
	<meta property="og:url" content = "daymaven.com"/>
	<meta property="fb:admins" content = "1067603571" />
	
</head>

<body>

<div id = "loginbar">
	<div id = "loginbar_center">
		<div id="smalltabs">
			<ul>
				<li><%= link_to 'Add a Day', new_day_path %></li>
				<li><%= link_to 'Add a Spot', new_day_path(:type => "2") %></li>
			</ul>
		</div>		
		<%= render 'users/login_items' %>
	</div>	
</div>


<div id = "container">
	<div id="header">
	  <%= link_to image_tag("/images/daymaven415.png", :border =>0, :id => 'logo'), ''%>
    </div>	
			
		<div id="searchbar_landing">		
    		<%= form_tag days_path, :method => 'get' do %>
			
			<%= label_tag :city, "Show me the best activities and spots for", :id=>"city_label_landing" %>
			<%= text_field_tag :city, params[:city], :id=>"city", :value => 'Bellingham, WA, USA' %>
		    <%= hidden_field_tag :search, params[:search], :id=>"searchtext" %>
				
			<%= submit_tag "Search", :id=>"searchgo_landing" %>
			<% end %>
		</div>
	
		<div id="content_landing">
			<%= yield %>
		</div>

	
		<div id="footerwrapper">
			<div id = "footerleft" class = "footer">
				<ul id = "footerlinkleft" class = "footerlinks">	
				<li><a href = "/" >Home</a></li>
				<li><a href="mailto: feedback@daymaven.com">Contact Us</a></li>
				<li><%= link_to 'All Days', '/days' %> </li>
				
			</ul>	
			<ul id = "footerlinkright" class = "footerlinks">
				<li><%= link_to 'Privacy Policy', '/pages/privacypolicy'%></li>
				<li><%= link_to 'Terms of Service', '/pages/tos'%></li>
			</ul>
		
			</div>
			<div id = "footermiddle" class = "footer">
			   <iframe src="http://www.facebook.com/plugins/like.php?href=daymaven.com" scrolling="no" frameborder="0" style="border:none; width:450px; height:80px"></iframe>
			</div>	
			<div id = "footerright" class = "footer">
			</div>
	    </div>

</div>
</body>
</html>

